.loaderWrapper {
  position: fixed;
  inset: 0;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.logo {
  width: 60%;
}

.name {
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  fill: none;
  stroke: orange;
  stroke-width: 1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: write 2s ease forwards, fill 3s forwards;
}

@keyframes write {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes fill {
  to {
    fill: orange;
    stroke-dashoffset: 0;
  }
}
 
